pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ArrayOfValues",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"parameters": {
			"ArrayOfValues": {
				"type": "array",
				"defaultValue": "(1,2,3,4,5,6,7)"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-18T23:20:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}